#progressBar
        width 400px
        height 22px
        border 1px solid #111
        background-color #292929

 
#progressBar #indicator
        height 100%
        color #fff
        text-align right
        line-height 22px
        width 0
        background-color #0099ff

#progressBarContainer
        position fixed
        top 30%
        left 30%
        border solid black 1px
        padding 10px
        border-radius 5px
        box-shadow 5px 5px 5px #121212