<div class="login">
    <div class="panel panel-default">
        <div class="panel-body">
            <span>Account creation successful. Please check your email for a verification link</span>
        </div>
    </div>
</div>