<div id="block_editor" class="container">
    <div id="trialObjects" class="row">
        <div id="block-code" class="col-md-8"></div>
    </div>
    <div id="preview_row" class="row">
        <div id="preview" class="col-md-12"></div>
    </div>
</div>