<div class="modeledit">
<label>Block Name: <input type="text" required="required" id="name" value="{{name}}" /></label>
<br>
<label>Display Width (pixels): <input type="number" required="required" id="width" value="{{width}}" /></label>
<br>
<label>Display Height (pixels): <input type="number" required="required" id="height" value="{{height}}" /></label>
<br>
<label>Timeout (ms): <input type="number" required="required" id="timeout" value="{{timeout}}" /></label>
<br>
<button class="save">Save</button>
</div>