<div id="experiment_info">
</div>
<div id="toolbar" class="btn-group-lg" role="toolbar">
    <button id="save_experiment" type="button" class="btn btn-success">Save</button>
    <a href="/previewexperiment/{{ _id }}" target="_blank" id="preview_experiment" type="button" class="btn btn-primary">Preview</a>
    <button id="variables" type="button" class="btn btn-info">Variables</button>
</div>
<div id="blocks-container">
</div>
<div id="blockedit">
</div>