<div id="experiment_info">
</div>
<div id="toolbar" class="btn-group-lg" role="toolbar">
    <button id="save_experiment" type="button" class="btn btn-success">Save</button>
</div>
<div id="blocks-container">
</div>
<div id="blockedit">
</div>