<div id="experiment_info">
</div>
<div id="toolbar" class="btn-group-lg" role="toolbar">
    <button id="save_experiment" type="button" class="btn btn-success">Save</button>
    <a href="/previewexperiment/{{ _id }}" target="_blank" id="preview_experiment" type="button" class="btn btn-primary">Preview</a>
</div>
<div id="blocks-container">
</div>
<div id="blockedit">
    <ul class="block-nav nav nav-tabs">
      <li class="blocks-tab" role="presentation"><a href="#">Edit Block</a></li>
      <li class="variables-tab" role="presentation"><a href="#">Edit Variables for Block</a></li>
      <li class="files-tab" role="presentation"><a href="#">Manage Files</a></li>
    </ul>
</div>