<div class="col-md-8" id="fileupload">
  <div id="filepane">
    <ol class="tree">
      <li>
        <label class="item folder" value="__"><span class="glyphicon glyphicon-folder-open"></span>All Files</label>
          <ol class="filelist" id="p__">
          </ol>

    </ol>
  </div>
  <div id="actions" class="row">

    <div class="col-md-4">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span id="{{id}}" class="btn btn-success fileinput dz-clickable">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add files...</span>
      </span>
      <button type="reset" class="btn btn-warning cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel upload</span>
      </button>
    </div>

    <div class="col-md-8">
      <!-- The global file processing state -->
      <span class="fileupload-process">
        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="progress-bar progress-bar-success" style="width: 0%;" data-dz-uploadprogress=""></div>
        </div>
      </span>
    </div>
  </div>
  <div class="table table-striped files" id="previews">
    <span class="glyphicon glyphicon-upload"></span>
  </div>
</div>