<button class="btn btn-warning">{{#if fixedRows}}Fixed Rows{{else}}Crossed Rows{{/if}}</button> <span class="label label-info">Click to toggle</span>
<p>{{#if fixedRows}}Fixed Rows will use the parameters in their current row by row pairings.{{else}}Crossed Rows will create all combinations of all parameters in the experiment.{{/if}}</p>