<div class="login">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="username-addon">Username</span>
              <input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="username-addon">
            </div>
            </br>
            <div class="input-group">
              <span class="input-group-addon" id="password-addon">Password</span>
              <input type="password" class="form-control" id="password" placeholder="" aria-describedby="password-addon">
            </div>
            </br>
            <button class="login-btn btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</div>