<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">{{ name }} Properties</h4>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            {{#if required }}
            <div class="panel-heading" role="tab" id="headingRequired">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequired" aria-expanded="true" aria-controls="collapseRequired">
                  Required Parameters
                </a>
              </h4>
            </div>
            <div id="collapseRequired" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingRequired">
                <div class="panel-body">
                    {{#each required}}
                        {{#modelinput this}}{{/modelinput}}
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{#if options }}
            <div class="panel-heading" role="tab" id="headingOptional">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOptional" aria-expanded="false" aria-controls="collapseOptional">
                  Optional Parameters
                </a>
              </h4>
            </div>
            <div id="collapseOptional" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOptional">
                <div class="panel-body">
                    {{#each options}}
                        {{#modelinput this}}{{/modelinput}}
                    {{/each}}
                </div>
            </div>
            {{/if}}
      </div>
      <div class="modal-footer">
        {{#if deleteable}}
        <button type="button" class="btn btn-danger delete">Delete</button>
        {{/if}}
        <button type="button" class="btn btn-warning cancel">Cancel</button>
        <button type="button" class="btn btn-primary save">Save changes</button>
      </div>
    </div>
  </div>
</div>