<div id="fileupload" class="single">
<span class='btn btn-success fileinput dz-clickable' id='{{ id }}'><i class='glyphicon glyphicon-plus'></i><span>Select file</span></span>
<div class="table table-striped files modal-body single" id="previews">
  <span class="glyphicon glyphicon-upload"></span>
</div>
</div>