<div class="modeledit">
    <ul>
        {{#each required}}
            {{#modelinput this}}{{/modelinput}}
        {{/each}}
        {{#each options}}
            {{#modelinput this}}{{/modelinput}}
        {{/each}}
    </ul>
    <button class="save">Save</button>
</div>