<div id="trialObjectToolbar" class="col-md-2 panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New Trial Object</h3>
    </div>
    <div class="panel-body">
        {{#each trialObjects}}
            <div class="trialObjectToolItem addtrialobject btn btn-primary" id="{{ modelname }}">
                {{ name }}
            </div>
        {{/each}}
    </div>
</div>
