<div id="trialObjectList" class="col-md-2 panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Trial Objects</h3>
    </div>
    <div class="trialObjectList panel-body">
    </div>
</div>