<div id="trialObjectToolbar">
    <h3>Create a new Trial Object</h3>
    {{#each trialObjects}}
    <div class="trialObjectToolItem">
        <button class="addtrialobject btn btn-primary" id="{{ modelname }}">{{ name }}</button>
    </div>
    {{/each}}
</div>
