<div id="trialObjectToolbar" class="dropdown col-md-1">
    <button id="dLabel" class="btn btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">New Trial Object<span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {{#each trialObjects}}
            <li class="trialObjectToolItem addtrialobject btn btn-primary" id="{{ modelname }}">
                {{ name }}
            </li>
        {{/each}}
    </ul>
</div>
